{
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "experimentalTernaries": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "tabWidth": 4,
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "*.html",
        "*.css",
        "*.json",
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "<THIRD_PARTY_MODULES>",
    "^@/",
    "^\\.\\./",
    "^\\./"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "tailwindFunctions": [
    "cn",
    "cva",
    "clsx"
  ]
}
